In [3]:
import pandas as pd
import os

In [28]:
#FN = "Users/pari/Dropbox\ (MIT)/lichess_db_standard_rated_2019-01.csv"
FN = "/Users/pari/Dropbox (MIT)/lichess_db_standard_rated_2019-01.csv"

In [29]:
os.path.exists(FN)

True

In [47]:
df = pd.read_csv(FN, nrows=100000000)

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
df["move_ply"].describe()

count    1.000000e+08
mean     3.659552e+01
std      2.791560e+01
min      0.000000e+00
25%      1.500000e+01
50%      3.200000e+01
75%      5.100000e+01
max      6.000000e+02
Name: move_ply, dtype: float64

In [49]:
df = df[df["move_ply"] > 30]

In [50]:
df = df[df["low_time"] == False]

In [51]:
#len(df)

In [52]:
df2 = df.sample(frac=1/float(32))

In [53]:
len(df2)

1296622

In [57]:
df2.to_csv("sample_evaluation_set.csv", header=True, index=False)

In [58]:
df3 = pd.read_csv("sample_evaluation_set.csv")

In [59]:
df3.head(4)

,game_id,type,result,white_player,black_player,white_elo,black_elo,time_control,num_ply,termination,...,active_pawn_count,active_queen_count,active_rook_count,is_check,num_legal_moves,opp_bishop_count,opp_knight_count,opp_pawn_count,opp_queen_count,opp_rook_count
0,hYAIFMod,Rapid,0-1,Thiron31,Socialengineery,995,1019,600+0,74,Normal,...,3,0,2,1,6,0,1,4,0,2
1,7r7JbaS2,Rapid,0-1,Leirbag13,Nkhambako1,1304,1400,600+0,86,Normal,...,6,1,1,0,23,1,0,7,1,1
2,MIu2tb9C,Blitz,1-0,SlamDiesel,Buba98,986,1046,180+0,65,Normal,...,5,1,1,0,44,1,2,6,2,2
3,l3xpFiRv,Blitz,0-1,adout,Chessplayer-12354_h,1846,1835,300+0,86,Normal,...,7,1,2,0,38,0,0,5,1,2